body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Baloo 2', cursive;
    margin: 0;
    height: 100vh;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-logo {
    text-align: center;
    margin-bottom: 20px;
}

.login-logo h2  {
    font-family: 'Baloo 2', cursive; 
    font-weight: 600px;
    color: #764ba2;
    text-align: center;
    font-size: 60px;
}

.login-logo p {
    font-size: 25px;
    font-family: 'Boloo 2', cursive;
}
.login-logo img {
    width: 100px;
}
.navbar {
    margin-bottom: 20px;
}
.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-group {
    margin-bottom: 15px;
}

.btn-register {
    margin-top: 10px;
}
